<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.mapper.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.pojo.Orders" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_user" property="orderUser" jdbcType="INTEGER" />
    <result column="order_address" property="orderAddress" jdbcType="VARCHAR" />
    <result column="order_phone" property="orderPhone" jdbcType="VARCHAR" />
    <result column="order_name" property="orderName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_user, order_address, order_phone, order_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from orders
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.oracle.pojo.Orders" >
    insert into orders (order_id, order_user, order_address, 
      order_phone, order_name)
    values (#{orderId,jdbcType=VARCHAR}, #{orderUser,jdbcType=INTEGER}, #{orderAddress,jdbcType=VARCHAR}, 
      #{orderPhone,jdbcType=VARCHAR}, #{orderName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.pojo.Orders" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderUser != null" >
        order_user,
      </if>
      <if test="orderAddress != null" >
        order_address,
      </if>
      <if test="orderPhone != null" >
        order_phone,
      </if>
      <if test="orderName != null" >
        order_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderUser != null" >
        #{orderUser,jdbcType=INTEGER},
      </if>
      <if test="orderAddress != null" >
        #{orderAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderPhone != null" >
        #{orderPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderName != null" >
        #{orderName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.pojo.Orders" >
    update orders
    <set >
      <if test="orderUser != null" >
        order_user = #{orderUser,jdbcType=INTEGER},
      </if>
      <if test="orderAddress != null" >
        order_address = #{orderAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderPhone != null" >
        order_phone = #{orderPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderName != null" >
        order_name = #{orderName,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.pojo.Orders" >
    update orders
    set order_user = #{orderUser,jdbcType=INTEGER},
      order_address = #{orderAddress,jdbcType=VARCHAR},
      order_phone = #{orderPhone,jdbcType=VARCHAR},
      order_name = #{orderName,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>