<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.mapper.GoodsTypeMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.pojo.GoodsType" >
    <id column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="type_pid" property="typePid" jdbcType="INTEGER" />
    <result column="type_lv" property="typeLv" jdbcType="INTEGER" />
    <result column="type_path" property="typePath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    type_id, type_name, type_pid, type_lv, type_path
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_type
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_type
    where type_id = #{typeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oracle.pojo.GoodsType" >
    insert into goods_type (type_id, type_name, type_pid, 
      type_lv, type_path)
    values (#{typeId,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{typePid,jdbcType=INTEGER}, 
      #{typeLv,jdbcType=INTEGER}, #{typePath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.pojo.GoodsType" >
    insert into goods_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="typePid != null" >
        type_pid,
      </if>
      <if test="typeLv != null" >
        type_lv,
      </if>
      <if test="typePath != null" >
        type_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typePid != null" >
        #{typePid,jdbcType=INTEGER},
      </if>
      <if test="typeLv != null" >
        #{typeLv,jdbcType=INTEGER},
      </if>
      <if test="typePath != null" >
        #{typePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.pojo.GoodsType" >
    update goods_type
    <set >
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typePid != null" >
        type_pid = #{typePid,jdbcType=INTEGER},
      </if>
      <if test="typeLv != null" >
        type_lv = #{typeLv,jdbcType=INTEGER},
      </if>
      <if test="typePath != null" >
        type_path = #{typePath,jdbcType=VARCHAR},
      </if>
    </set>
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.pojo.GoodsType" >
    update goods_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      type_pid = #{typePid,jdbcType=INTEGER},
      type_lv = #{typeLv,jdbcType=INTEGER},
      type_path = #{typePath,jdbcType=VARCHAR}
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
</mapper>