<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	<context:component-scan
		base-package="com.oracle.controller,com.oracle.service,com.oracle.tests,com.oracle.mapper"></context:component-scan>
	<!-- 配置 读取properties文件 jdbc.properties -->
	<!-- <import resource="classpath:db.properties"/> -->
	<!-- 数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3307/mybatis1?UseUnicode=true&amp;characterEncoding=utf8" />
		<property name="username" value="root" />
		<property name="password" value="root" />
		<!--${jdbc.driver} ${jdbc.url} ${jdbc.username} ${jdbc.password} -->
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 映射mapper目录 -->
	<bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.oracle.mapper"></property>
	</bean>
	<!-- 事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- srpingMVC -->
	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="102400"></property>
	</bean>
	<!-- 注解支持 -->
	<mvc:annotation-driven />
	<!-- 返回 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- Spring MVC 异常处理类 -->
	<bean class="com.oracle.exception.MyHandlerException"></bean>
	<!-- 欢迎页面 -->
	<mvc:view-controller path="/" view-name="index" />
	<!-- 静态资源访问 -->
	<mvc:resources location="/WEB-INF/view/resources/" mapping="/resources/**"></mvc:resources>
	<!-- 拦截器配置 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!--拦截什么 -->
			<mvc:mapping path="/goods/**" />
			<!-- 自己配置的拦截器 -->
			<bean id="loginInter" class="com.oracle.controller.LoginIntercepter"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>